[submodule "Lib/imgui-sfml"]
	path = Lib/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "Lib/imgui"]
	path = Lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Lib/entt"]
	path = Lib/entt
	url = https://github.com/skypjack/entt.git
[submodule "Lib/glm"]
	path = Lib/glm
	url = https://github.com/g-truc/glm.git
